.button-container {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: white;
  color: #393E46;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 25px;

  &:hover {
    background-color: #393E46;
    color: white;
    border: 1px solid white;
  }

  &.google-sign-in {
    background-color: #00ADB5;
    color: #393E46;

    &:hover {
      background-color: #393E46;
      color: #00ADB5;
      border: #00ADB5 1px solid;
    }
  }

  &.inverted {
    background-color: #393E46;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;

    &:hover {
      background-color: #EEEEEE;
      color: #393E46;
      border: none;
    }
  }
}
